@charset "UTF-8";
/* CSS Document */
body {
    margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
    line-height: 1.5;
  color: black;
    -webkit-font-smoothing: antialiased;
}

